.best-card {
  padding: 15px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 500px;
  margin: 15px auto;
  width: 100%;
}