.Car {
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
  flex: 1;
  position: relative;
  flex-basis: 100%;
}

.Car h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  margin-right: 25px;
}

.Car .number {
  font-weight: 600;
}

.Car div:first-child {
  flex-grow: 1;
}

.Car .hl {
  background: #6aa84f;
  color: #fff;
}

.Car .active {
  background: #6aa84f;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  transition: transform 0.2s ease;
  transform: scale(1.2) rotateZ(14deg);
  width: 20px;
  text-align: center;

  order: 5;
  position: absolute;
  top: 0;
  right: 0;
}

.Car:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

@media (min-width: 600px) and (max-width: 899px) {
  .Car {
    flex-basis: 40%;
  }
}

@media (min-width: 900px) {
  .Car {
    flex-basis: 20%;
  }
}
